<div class="panel-header panel-header-sm">

</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Products in the Inventory</h4>
        </div>
        <button style="width: 150px" class="btn" ng-click="addProduct()"> Add Product +</button>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Product Code
                </th>
                <th>
                  Name
                </th>
                <th>
                  description
                </th>
                <th>
                  Category
                </th>
                <th>
                  Seller
                </th>
                <th>
                  Already Saled
                </th>
                <th>
                  Is Available
                </th>
                <th class="text-right">
                  Price
                </th>
              </thead>
              <tbody>
                <tr ng-repeat="product in products">
                  <td>
                    {{product.serialNo}}
                  </td>
                  <td>
                    {{product.title}}
                  </td>
                  <td>
                    {{product.description}}
                  </td>
                  <td>
                    {{product.category}}
                  </td>
                  <td>
                    {{product.seller}}
                  </td>
                  <td>
                    {{product.rating}}
                  </td>
                  <td>
                    {{product.is_available||true}}
                  </td>
                  <td class="text-right">
                    {{product.price}}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>